/*-- scss:defaults --*/
// Change theme-colors
$theme-colors: (
  primary: #036,
  secondary:#6c757d, // new entry
  success: #43893e,
  info: #96c0e6,
  warning: #f9ca54,
  danger: #d93e45,
  // new entries
    primary-nav: #036,
  secondary-nav: #036,
  bcgold: #fcba19,
  light:#f8f9fa, // new entries
  dark: #212529, // new entries
);

$navbar-bg: #036;

.leaflet-popup-content {
  font-size: small;
  min-width: 150px;
}

.leaflet {
  height: calc(100vh - 80px) !important;
}

.leaflet-tooltip {
  font-size: medium;
}
.leaflet-tooltip-right {
  margin-left: 10px;
}

.card .card-body {
  padding: 0;
}

.filters {
  display: flex;
  flex-wrap: wrap;
  margin-top: 0rem;
}

.filter-input, .crosstalk-input {
  padding-left: 2px;
  padding-right: 8px;
  margin-bottom: 1px !important;
  flex: 1;
  min-width: 250px;
}

.filter-input label, .crosstalk-input label {
  color: hsl(0, 0%, 45%);
  font-weight: 700;
  font-size: 0.8125rem;
  letter-spacing: 0.4px;
  text-transform: uppercase;
}

// copy selectize-input css to make  filter input look the same
.filter-input select,
.filter-input input[type="search"],
.crosstalk-input input,
.selectize-control.single .selectize-input,
.selectize-control.multi .selectize-input {
  border: 1px solid #cccccc;
  display: inline-block;
  width: 100%;
  position: relative;
  z-index: 1;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  height: 36px;
  min-height: 36px;
}


.detail-label {
margin: 1.25rem 0 0.25rem;
font-size: 0.875rem;
color: rgba(0, 0, 0, 0.6);
}

// make sure the selectize dropdown is on top of other content
.card, .card-body, .filters {
  overflow: visible !important;
  z-index: auto !important;
}
.selectize-dropdown {
  z-index: 10000 !important; 
}

// input text positioning
.selectize-control.multi .selectize-input.has-items {
  padding-top: 0 !important;
}
.selectize-input {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
.filter-input input[type="search"] {
  padding: 2px 12px;
}

// prevent reactable border from cutting off bs card
.reactable {
  border-style: none;
  border-radius: 0.5rem;
  border-color: rgba(0, 0, 0, 0.175);
  border-width: 0px;
  font-size: 0.8rem;
}

.rt-tr-details {
  margin-left: 15px;
  margin-bottom: 10px;
}

.h4 {
  margin-top: 0.5rem;
}

.rt-th:first-child,
.rt-th:first-child > .rt-th-inner, 
.rt-td:first-child,
.rt-td:first-child > .rt-td-inner {
  min-width: 0 !important;
  width: 0 !important;
}